.bannerAd {
    // object-fit: contain;
    min-height: 10rem;
    position: relative;
}

.bannerAdImg {
    object-fit: contain;
    position: relative !important;
    min-height: 10rem;
    max-height: 40rem;
}

.adLabel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    background: white;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}