.headerTop {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    background: #005986;
    .logo {
        padding: 5px;
        margin-right: 5px;
    }
    .input-wrapper {
        background: #fff3;
        border-radius: 15px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;

        ::placeholder {
            color: white
        }
        input {
            all: unset;
        }

        .searchIcon {
            cursor:pointer;
            margin-left: 5px
        }
    }
    .logoAndText {
        display: flex;
        align-items: center;

    }
    .headerRightButtons {
        display: flex;
        align-items: center;
    }
}

.localWeather {
    background: #fff3;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10rem;
    padding-right: 10rem;

    .weatherCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-right: #fff3 solid 1px;
        min-width: 20rem;
    }
}
.weatherSelector {
    background: #0006;
    display: grid;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10rem;
    padding-right: 10rem;
    grid-template-columns: repeat(8, 1fr);
}