.headerTop {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    background: #005986;
    gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;

    .logo {
        padding: 5px;
        margin-right: 5px;
    }

    .input-wrapper {
        background: #fff3;
        border-radius: 15px;
        flex-grow: 1;
        padding-left: clamp(5px, 30px, 10vw);
        padding-right: clamp(5px, 30px, 10vw);
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        max-width: 25rem;

        ::placeholder {
            color: white
        }

        input {
            all: unset;
            overflow-x: hidden;
            min-width: 2rem !important;
        }

        .searchIcon {
            cursor: pointer;
            margin-left: 5px
        }
    }

    .logoAndText {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            h1 {
                display: none
            }
        }
    }

    .headerRightButtons {
        display: none
    }

    @media (min-width: 576px) {
        .headerRightButtons {
            display: flex;
            align-items: center;
        }
    }
}

.localWeather {
    background: #fff3;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

    .weatherCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-right: #fff3 solid 1px;
        min-width: 10rem;

        @media (min-width: 768px) {
            min-width: 20rem;
        }

    }
}

.weatherSelector {
    background: #0006;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
    color: white;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 40px;
    overflow: hidden;

    .wrappedNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
        padding-top: 5px;
    }

    .moreForecasts {
        display: flex;
        gap: 1rem;
        padding-top: 5px;
        white-space: nowrap;

    }

    .downArrow {
        height: 15px;
        margin-top: 5px;
    }
}